<div align-title="left" class="bar bar-header" ng-controller="userController as vm">
	<div class="col-sm-3">
  	<img src ="img/amaraja.jpg" style="width: 20%;" />
  </div>
  <div class="col-sm-9">
	  <ul class="displayflex menu-nav" role="tablist"">
	  	<li role="presentation" class="active" ng-click="vm.createForm()"><a>Create Form</a></li>
	  	<li role="presentation" class="active" ng-click="vm.editForms()"><a>Edit Form</a></li>
	  	<li role="presentation" class="active" ng-click="vm.workflow()"><a>Workflow</a></li>
		</ul>
	</div>
</div>
