<div>
	<div>
			<label class="input-color">Select from which table</label>
			<select class="form-control cursor-pointer" ng-model="current_field.Settings[2].MasterData[0].TableName" ng-change="vm.changeSelectedMaster(current_field.Settings[2].MasterData[0].TableName)">
				<option ng-repeat="data in vm.masterTableNames">{{data.tableName}}</option>
			</select>
		</div>
		<div>
			<label class="input-color">Select which column</label>
			<select class="form-control cursor-pointer" ng-model="current_field.Settings[2].MasterData[0].ColumnName">
				<option ng-repeat="data in vm.columnNames">{{data}}</option>
			</select>
		</div>
	</div>
	<label class="popupInColor">
		<input type="checkbox" value = "condition" ng-model="condition">
		Condition
	</label>
	<div class="item row" ng-if="condition" ng-repeat = "currentSet in current_field.Settings[2].ConditionData">
		<div class="col">
      <label class="popupInColor">Select column</label>
			<select class="form-control cursor-pointer" ng-model = "currentSet.condColumn">
				<option ng-repeat="data in vm.columnNames track by $index">{{data}}</option>
			</select>
    </div>
    <div class="col">
			<label class="popupInColor">=</label>
			<select class="form-control cursor-pointer" ng-model = "currentSet.condEquals">
				<option value="IN" selected>EQUALS</option>
				<option value="NOT IN">NOT EQUALS</option>
			</select>
    </div>
    <div class="col">
      <label class="popupInColor">Select from which table</label>
			<select class="form-control cursor-pointer" ng-model = "currentSet.condTableName" ng-change="vm.selectCondTable(currentSet.condTableName, $index)">
				<option ng-repeat="data in vm.masterTableNames track by $index">{{data.tableName}}</option>
			</select>
    </div>
    <div class="col">
      <label class="popupInColor">Select which column</label>
			<select class="form-control cursor-pointer" ng-model = "currentSet.condColumnName" ng-change="vm.selectCondColumn(currentSet.condColumnName, $index)" >
				<option ng-repeat="data in getValues($index) track by $index">{{data}}</option>
			</select>
    </div>
    <div class="col">
			<label class="popupInColor">Select Value</label>
			<select class="form-control cursor-pointer" ng-model = "currentSet.condValue">
				<option ng-repeat="data in getDataValues($index) track by $index">{{data}}</option>
			</select>
    </div>
    <div class="form-group popupInColor"><a class="js-add-option fb-button" ng-click="vm.addSelectCondition(current_field)"><i class="fa fa-plus-circle cursorpointer"></i></a>
		</div>
		<div class="col" ng-hide="$last">
			<label class="popupInColor">Condition</label>
			<select class="form-control cursor-pointer" ng-model = "currentSet.condChange">
				<option value="AND">AND</option>
				<option value="OR">OR</option>
			</select>
    </div>
  </div>
</div>