<div ng-repeat="aa in current_field.Settings[3].PossibleValue[0].columns">
<!-- 	{{current_field.Settings[3].PossibleValue[0].columns}} -->
		
</br>
	<input type="checkbox"  ng-model="current_field.Settings[3].PossibleValue[0].columns[$index].colRef.referMaster" > {{aa.value1}}
	
	<div ng-if="current_field.Settings[3].PossibleValue[0].columns[$index].colRef.referMaster">
		<div class="col-sm-12">
				<input type="checkbox"  ng-model="current_field.Settings[3].PossibleValue[0].columns[$index].colRef.dropdown" >
			
			<div class="col-sm-4">
				<label class="input-color">Select from which table {{$index}}</label>
				<select class="form-control cursor-pointer" ng-model="current_field.Settings[3].PossibleValue[0].columns[$index].colRef.masterTable" ng-change="vm.changeSelectedMaster(current_field.Settings[3].PossibleValue[0].columns[$index].colRef.masterTable)">
					<option ng-repeat="data in vm.masterTableNames" value="{{data.rowid || data.tableName}}">{{data}}</option>
				</select>
			</div>
			
			<div class="col-sm-4">
				<label class="input-color">Refering Columan</label>
				<select class="form-control cursor-pointer" ng-model="current_field.Settings[3].PossibleValue[0].columns[$index].colRef.masterCol">
					<option ng-repeat="data in vm.columnNames">{{data}}</option>
				</select>
			</div>
			<div class="col-sm-4">
				<label class="input-color">Filter By</label>
				<select class="form-control cursor-pointer" ng-model="current_field.Settings[3].PossibleValue[0].columns[$index].colRef.filterCol">
					<option ng-repeat="data in vm.columnNames">{{data}}</option>
				</select>
			</div>
		</div>
	</div>
</div>