<div>
	<div>
		{{current_field.Settings[4]}}
		<label class="input-color">Select from which Column</label>
		<select class="form-control cursor-pointer" ng-model="current_field.Settings[5].ColCondValue.resultCol">
			<option ng-repeat="data in vm.colList" value="{{data.value}}">{{data.value1}}</option>
		</select>
	</div>
	<!-- 'Name': 'General Options',
				'Type': 'checkBoxZone',
				'Options': [{
					'Name': 'Required',
					'Value': false
				}],
				'Restrict': "",
				'ColmRestrict': [],
				'ColCondition': false,
				'ColCondValue': {"Condtion":[]}, -->

	<div class="item row" >
		<div class="col">
      <label class="popupInColor">Select column</label>
			<select class="form-control cursor-pointer" ng-model="con1" ng-change="vm.setCondition(current_field.Settings[5].ColCondValue, con1, 0)">
				<option ng-repeat="data in vm.colList track by $index" value="{{data.value}}">{{data.value1}}</option>
			</select>
    </div>
    <div class="col">
			<label class="popupInColor">=</label>
			<select class="form-control cursor-pointer" ng-model="con2" ng-change="vm.setCondition(current_field.Settings[5].ColCondValue,con2, 1)">
				<option value="+/-" selected>+/-</option>
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="/">/</option>
				<option value="*">*</option>
				<option value="=">=</option>
			</select>
    </div>
    <div class="col">
      <label class="popupInColor">Select from which table</label>
			<select class="form-control cursor-pointer" ng-model="con3" ng-change="vm.setCondition(current_field.Settings[5].ColCondValue,con3, 2)">
				<option ng-repeat="data in vm.colList track by $index" value="{{data.value}}">{{data.value1}}</option>
			</select>
    </div>
    <div class="col" ng-hide="$last">
			<label class="popupInColor">Condition</label>
			<select class="form-control cursor-pointer" ng-model = "con4" ng-change="vm.setCondition(current_field.Settings[5].ColCondValue,con4, 3)">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="/">/</option>
				<option value="*">*</option>
				<option value="=">=</option>
			</select>
    </div>
    <div class="col">
      <label class="popupInColor">Select which column</label>
			<select class="form-control cursor-pointer" ng-model="con5" ng-change="vm.setCondition(current_field.Settings[5].ColCondValue,con5, 4)">
				<option ng-repeat="data in vm.colList track by $index" value="{{data.value}}">{{data.value1}}</option>
			</select>
    </div>
  </div>


</div>