<ion-view hide-nav-bar="true">
  <div align-title="left" class="bar bar-header" ng-controller="userController as vm">
    <div class="col-sm-3">
      <img src ="img/amaraja.jpg" style="width: 20%;" />
    </div>
    <div class="col-sm-9 padding">
      <ul class="displayflex menu-nav" role="tablist"">
        <li role="presentation" ng-click="vm.createForm()"><img src="img/create.png" class="menuImg-width"><span class="padding">Create Form</span></li>
        <li role="presentation" id="edit_dropdown_id" ng-click="vm.editForms()"><img src="img/edit.png" class="menuImg-width"><span class="padding">Edit Form</span>
          <ul class="dropdown-content">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search" ng-model="test">
            </label>
            <li ng-show = "test.length >= 3" class="cursorpointer" ng-repeat = "forms in vm.tableName | orderBy | filter:test" ng-click="vm.selectedTableName(forms)">{{forms.tableName}}</li>
            <li ng-show = "!(test.length >= 3)" class="cursorpointer" ng-repeat = "forms in vm.tableName | orderBy | limitTo: 10 " ng-click="vm.selectedTableName(forms)">{{forms.tableName}}</li>
          </ul>
        </li>
        <li role="presentation" id="workflow_dropdown_id" class="active" ng-click="vm.workflow()"><img src="img/workflow.png" class="menuImg-width"><span class="padding">Workflow</span>
          <ul class="dropdown-content">
            <li class="cursorpointer" ng-click="vm.gotoWorkflow()">Create Workflow</li>
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search" ng-model="work">
            </label>
            <li ng-show = "work.length >= 3" class="cursorpointer" ng-repeat = "workdata in vm.workName | orderBy | filter:work" ng-click="vm.selectedWorkName(workdata)">{{workdata.workflowName}}</li>
            <li ng-show = "!(work.length >= 3)" class="cursorpointer" ng-repeat = "workdata in vm.workName | orderBy | limitTo: 10 " ng-click="vm.selectedWorkName(workdata)">{{workdata.workflowName}}</li>
          </ul>
        </li>
        <li role="presentation" id="" class="cursorpointer" ng-click="vm.getFormNames()"><img src="img/process.png" class="menuImg-width"><span class="padding">Process Flow</span>
        </li>
        <li ng-click="vm.logouthead()"><img src="img/logout.png" class="menuImg-width"><span class="padding">Logout</span>
        </li>
      </ul>
    </div>
  </div>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
<ion-content class="work-flow top-44px">
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Workflow Name</span>
    <input type="text" placeholder="workflow" ng-model="vm.workflowname">
  </label>
  <label class="item item-input item-stacked-label text-center">
    <span class="input-label">Levels</span>
    <select ng-model="vm.levelsCount" ng-change="vm.levelsChange(vm.levelsCount)">
      <option ng-repeat="data in vm.levelsArray track by $index" >{{data}}</option>
    </select>
  </label>
</div>
<!-- <div class="list list-inset" ng-repeat="data in vm.levelsData track by $index" >
  <div class="item">
    Level {{data}}
  </div>
</div> -->
<div ng-if="vm.hideLevels" class="Mrg-Ctr">
  <div class="row header">
    <div class="col"><b>Levels</b></div>
    <div class="col"><b>Level Name</b></div>
    <div class="col"><b>Department</b></div>
    <div class="col"><b>Forms</b></div>
  </div>

  <div class="row" ng-repeat="levels in vm.levelsData track by $index">
 
    <div class="col">Level {{levels}}</div>
    <div class="col">
      <input type="text" placeholder="levelname" ng-model="vm.formName[$index]">
    </div>
    <div class="col">
      <select ng-model="vm.deptSelected[$index]">
        <option ng-repeat="dept in vm.departments track by $index">{{dept.deptName}}</option>
      </select>
    </div>
    <div class="col">
      <select ng-model="vm.formSelected[$index]">
        <option ng-repeat="data in vm.forms track by $index">{{data.tableName}}</option>
      </select>
    </div>
  </div>
  <button class="button button-block button-positive WDTH-ATO" ng-click="vm.submit()">
  Submit
  </button>
</div>
</ion-content>
</ion-view>