.row_block{
	display: block;
}
a {
	color: #8F083B;
}

a:focus,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none !important;
	color: ##337ab7;
}

ul.neo-nav {
	border: 2px solid #337AB7;
	display: inline-block;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	padding-start: 0;
	border-radius: 5px;
}

ul.neo-nav li {
	display: inline-block;
	list-style: none;
}

ul.neo-nav li a {
	color: #337AB7;
	padding: 10px 30px;
	font-weight: bold;
	display: block;
}

ul.neo-nav li.active a {
	color: white;
}
ul.neo-nav li.active {
	background-color: #337AB7;
	color: white;
}

ul.neo-nav li a:hover,
ul.neo-nav li a:visited,
ul.neo-nav li a:active,
ul.neo-nav li a:link {
	text-decoration: none;
}

#main-content {
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 1;
	height: 650px;
}

#sideBar {
	padding-top: 20px;
	padding-left: 0;
	padding-right: 0;
	z-index: 2;
}

.tab-container {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

#addFieldTab {
	padding-top: 20px;
	padding-left: 20px;
}

#fieldSettingTab {
	padding: 20px;
	height: 542px;
  overflow-y: scroll;
}
::-webkit-scrollbar{
	-webkit-appearance : none;
}
::-webkit-scrollbar:horizontal {
    height: 5px;
}
::-webkit-scrollbar:vertical {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
}#formBuilderContent {
	background-color: white;
	padding: 20px;
	height: 533px;
	overflow-y: scroll;
}

.dragElement-wrapper {
	width: 50%;
	display: inline-block;
	margin-bottom: 20px;
}

.dragElement-wrapper .drag-element {
	color: #337AB7;
	display: block;
	width: 90%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
}

.dragElement-wrapper .drag-element i {
	margin-right: 5px;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */

	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

#chkBoxZone {
	margin-top: 15px;
}

.input-as-label {
	border: none;
	box-shadow: none;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	background-color: transparent;
}

.active-field {
	border: 1px solid #337AB7;
  border-radius: 4px;
}

.inactive-field {
  border: 1px solid red;
  border-radius: 4px;
}

.form-group {
	padding: 10px;
	position: relative;
}

.form-group i.remove-ico {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.pale {
	opacity: 50%;
}

.sortable-formbuilder,
.sortable-stdFields {
	padding-left: 0;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
	padding-start: 0;
	list-style: none;
	min-height: 40px;
}

.drop-to-add {
	height: 40px;
}

a[data-toggle="collapse"] i.fa-plus-square-o {
	display: none;
}

a[data-toggle="collapse"] i.fa-minus-square-o {
	display: inline-block;
}

a[data-toggle="collapse"].collapsed i.fa-plus-square-o {
	display: inline-block;
}

a[data-toggle="collapse"].collapsed i.fa-minus-square-o {
	display: none;
}

.orange-txt {
	color: orange;
}
#sidebar-tab-content{
	overflow-y: scroll;
}
.DISINB{
	display: inline-block !important;
}
/*.backGnd-remove{
	background-color: #e74c3c !important;
	border-color: #e74c3c !important;
}*/
.setTable tr td, .setTable tr tdth{
	border: 1px solid #ccc;
} 
button.close {
	position: relative;
	left: -20px;
	top: 3px;
	color: red;
}
.nowrap{
	position: relative;
	display: -webkit-inline-box;
}
.LETOPX{
	left: 0 !important;
}
.OVERFLWY{
	overflow-x: scroll; 
}
.thumb {
	width: 90px;
	height: 55px;
  float: none;
	position: relative;
	top: 7px;
}
.imgbutton{
	line-height: 25px !important;
	max-width: 103% !important;
}
.rdBtn-Inpt-Wdth{
	width: 83% !important;
}
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.width100pr{
	width: 100% !important;
}
.cursorpointer{
	cursor: pointer;
}


.padding-right10px {
	padding-right: 10px;
}

input[type=radio]:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
}


input[type=checkbox]:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
}

.cursor-pointer {
	cursor: pointer;
}

.margin-right5px {
	margin-right: 5px !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #FFF;
}

.label-padding {
	padding-top: 8px;
}

.formCenter {
	width: 980px !important;
	margin: 0 auto !important;
}

.border-getForm {
	border: 1px solid gray;
	margin: 5px 0 5px 0 !important;
	padding-bottom: 20px;
}

.showheadCenter {
	text-align: center;
	padding: 30px 0 30px 0;
}

.amarImg {
	width: 80% !important;
	margin-top: 18px !important;
}
ul.header{
	width: 65% !important;
}
ul.header li{
	float: left !important;
}
/*.li-width79{
	width: 79%;
}*/
.dsply-inlineblck{
	display: inline-block !important;
}
.gray-color{
	background-color: #F5F5F5 !important;
	color: #808284 !important;
}
.label-color{
	color: #337AB7 !important;
}
.input-color{
	color: #808284 !important;
	background-color: #fff !important;
}
.form-title-paddding{
	padding: 6px 0 0 6px !important;
}

.darkgray-color {
	color: #666 !important;
}

.lightgray-color {
	color: #999 !important;
}

.button-imp {
	min-width: 91px !important;
	min-height: 32px !important;
	line-height: 0 !important;
	background-color: #337AB7 !important;
	color: #fff !important;
}
.getformFont {
	color: #444;
}

tr:nth-child(even) {
    background-color: #fff !important;
}

tr:nth-child(even) input[type=text]{
   background:##fff !important;
}


tr:nth-child(odd) {
    background-color: #f5f5f5 !important;
}

tr:nth-child(odd) input[type=text]{
   background:#f5f5f5 !important;
}

th:nth-child(odd) input[type=text]{
   background:#fff !important;
}

th:nth-child(even) input[type=text]{
   background:#fff !important;
}

.color-thead {
	background-color: #fff !important; 
}

th {
	background-color: #fff !important;
}

.getform-button {
	border-color: #444 !important;
  background: #444 !important;
  color: #fff !important;
}

.expandcollapse-heading-collapsed {
  cursor: pointer;
  position: relative;
  background-color: #999;
  color: #fff;
  padding: 7px 7px 1px 7px;
  font-size: 16px;  
}
.expand-collapse-content {
	border-top: 1px solid #e8e8e8;
  color: #999;
  font: 600 14px "Open Sans",sans-serif;
}
.expand-collapse-content li:active {
	background-color: #999;
  color: #fff;
  font: 600 14px "Open Sans",sans-serif;
}
.expand-collapse-content  li{
	padding: 10px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.expandcollapse-para{
  font-size: 16px;
  font-weight: normal;
  margin:0px;
  color: #999;
	padding: 10px 15px 0 15px;
  border-bottom: 1px solid #ccc;
}
.TURNDOWNARROW{
  float: right;
  margin: -25px 10px;
  transform: rotate(180deg);
  transition: .5s linear;
  width: 8% !important;
}
.UPARROW{
  float: right;
  margin: -32px 20px;
  transition: .5s linear;
}
.hidediv {
  height:0;
  transition: height 1s ease;
  overflow:hidden;
  position:relative;
}
.showdiv {
  height:auto;
  transition:height 1s ease !important;
  overflow:hidden;
  position:relative;
}
.displayflex{
	display: flex;
	float: right;
}
.user-logo-center{
	  margin: 0 auto;
    display: block;
    width: 100%;
}
ul.menu-nav {
	display: inline-block;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	padding-start: 0;
	border-radius: 5px;
}

ul.menu-nav li {
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

ul.menu-nav li a {
	color: #666;
	padding: 7px 12px;
	font-weight: bold;
	display: block;
}
ul.menu-nav li.active span{
	color: #337AB7;
}
ul.menu-nav li.active {
	color: white;
}
.top-44px{
	top: 44px !important;
}
.table-populate-btn{
	float: right;
  margin: 5px;
  color: #337AB7;
  background-color: #fff;
  border: 1px solid #337AB7;
  padding: 5px;
}
.table-populate-btn:active{
	color: #fff;
  background-color: #337AB7;
}

input[type='checkbox'], input[type='radio']{      
  background-image: url('../img/controls.png'); 
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  -moz-appearance: none; /* not working */
  -webkit-appearance: none;
  -ms-appearance: none; /*not working */
  -o-appearance: none;
  appearance: none;
}
/* not checked */
input[type='radio']{background-position: -32px 0; }
/* checked */
input[type='radio']:checked { background-position: -48px 0;}
input[type='checkbox']:checked { background-position: -16px 0; }
input[type='checkbox']:hover:checked, 
input[type='checkbox']:focus:checked { background-position: -16px -16px; }
input[type='radio']:hover:checked,
input[type='radio']:focus:checked { background-position: -48px -16px; }
/* focus */
input[type='checkbox']:hover,
input[type='checkbox']:focus { background-position: 0 -16px; }
input[type='radio']:hover,
input[type='radio']:focus { background-position: -32px -16px; }
/* active */
input[type='checkbox']:active { background-position: 0 -48px; }
input[type='radio']:active { background-position: -32px -48px; }
input[type='checkbox']:active:checked { background-position: -16px -48px; }
input[type='radio']:active:checked { background-position: -48px -48px; }
/* disabled */
input[type='checkbox']:disabled { background-position: 0 -32px; }
input[type='radio']:disabled { background-position: -32px -32px; }
input[type='checkbox']:disabled:checked { background-position: -16px -32px; }
input[type='radio']:disabled:checked{ background-position: -48px -32px; }
input[type='checkbox']:hover:disabled,
input[type='checkbox']:focus:disabled { background-position: 0 -32px; }
input[type='radio']:hover:disabled ,
input[type='radio']:focus:disabled { background-position: -32px -32px; }
input[type='checkbox']:hover:disabled:checked ,
input[type='checkbox']:focus:disabled:checked { background-position: -16px -32px; }
input[type='radio']:hover:disabled:checked,
input[type='radio']:focus:disabled:checked { background-position: -48px -32px; }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content li {
    color: #999;
    padding: 12px 16px;
    text-decoration: none;
    display: block !important;
}
.dropdown-content li:hover {
	background-color: #f1f1f1
}
#edit_dropdown_id:hover .dropdown-content {
    display: block;
}
#edit_dropdown_id:active .dropdown-content {
    display: block;
}
#workflow_dropdown_id:hover .dropdown-content {
    display: block;
}
#workflow_dropdown_id:active .dropdown-content {
    display: block;
}

.Mrg-Ctr{
	width: 90%;
	margin: 0 auto;
}
.WDTH-ATO{
	width: auto !important;
	margin: 0 auto;
}

/*login*/

.loginContainer {
	width: 50%;
	margin : 0 auto;
	padding: 5%;
	border: 2px solid #337AB7;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loginBorder {
	border-bottom: 1px solid #337AB7;
}

.loginInput {
	color:#337AB7 !important;
}

.loginButton {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    width: 25% !important;
    margin: auto;
    background-color: #337ab7 !important;
}


.login-cancel {
	border: 1px solid #337AB7 !important;
	color: #337AB7 !important;
	background-color: #fff !important;
	margin-top: 5% !important;
    margin-bottom: 5% !important;
    width: 25% !important;
    margin: auto;
}

.login-cancel:active {
	background-color: #337AB7 !important;
	color: #fff !important;
}

.loginButton:active {
	background-color: #fff !important;
	color: #337AB7 !important;
}

.login-forgot {
	font-size: 15px !important;
	color: #337AB7 !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.login-Img {
    position: absolute;
    top: 2%;
    left: 42%;
    width: 14%
}

.login-forgotLabel {
	margin: 22% 0 0 -24%;
}

.color-red {
	color: red;
	margin-left: 3%;
}

.login-inputColor {
	background-color: #fff !important;
}

input[type="email"]:focus, input[type="email"]:active, input[type="email"]:valid, input[type="email"]:invalid {
	outline: 0px !important;
	background-color: #fff !important;
}
.border-1px{
	border: 1px solid #ccc !important;
}

.menuImg-width{
	width: 15px;
}


.createForm-input {
	border: 0.5px solid #999 !important;
	margin-top: 5px;
}
.min-height{
	min-height: 70px !important;
}

.popupWidth .popup {
	width: 60%;
}

.popupInColor {
	color: #808284;
}

.remark-btn{
  background-color: transparent !important; 
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
  padding: 16px;
  border-width: 1px;
  border-style: none !important; 
  font-size: 16px;
}
.item-toggle .toggle {
    position: absolute;
    top: 0px;
    left: 30% !important; 
    width: 50% !important;
    z-index: 3;
}
.toggle.toggle-positive input:checked + .track {
    border-color: #4cd964;
    background-color: #4cd964;
}
.toggle .track {
    border-color: red;
    background-color: red;
}
.brd-btm{
	border-bottom: 1px solid #ccc;
}
.brd{
	border: 1px solid #ccc;
}
.brd-btm:active{
	background-color: #999;
  color: #fff;
}
.input-padding{
	padding: 6px 12px !important;
}
.date_selection .row{
	margin-left: 0 !important;
}
.comment_symb{
	font-size: 35px;
  cursor: pointer;
}
.comment_text{
	width: 92% !important;
  float: left;
}

.active1{
	background-color:#666;
	color:white;
}
.MARTOP20Px{
	margin-top: 20px
}
.list_scroll{
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

@media (min-width: 768px) and (max-width: 1036px){
	.form-inline .form-control {
		width: 100% !important;
	}
	.li-width79 {
    width: 70% !important;
	}
	.formCenter {
	width: 80% !important;
	margin: 0 auto !important;
}
.loginContainer {
	width: 100% !important;
}
.loginTab {
	margin-top: 10%;
}
ul.neo-nav li {
	display: block;
}
}


@media (min-width: 1036px) and (max-width: 2000px){
	.form-inline .form-control {
		width: 100% !important;
	}
	.li-width79 {
    width: 72% !important;
	}
}


@media (min-width: 320px) and (max-width: 767px ){
	.form-inline .form-control {
		width: 100% !important;
	}
	.formCenter {
	width: 80% !important;
	margin: 0 auto !important;
}

 .amarImg {
  width: 40% !important;
  margin-top: 10px !important;
}

.loginContainer {
	width: 100% !important;
}
.li-width79 {
    width: 60% !important;
	}
}
.pageBreak {
  page-break-after: always;
}

