<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/ionic-timepicker/dist/ionic-timepicker.bundle.min.js"></script>
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>
    <script src="lib/jspdf/dist/jspdf.min.js"></script>
    <script src="lib/jspdf-autotable/dist/jspdf.plugin.autotable.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <link href="lib/angularPrint/angularPrint.css" rel="stylesheet">
    <script type="text/javascript" src="lib/angularPrint/angularPrint.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <!-- Controllers -->
    <script src="js/common.js"></script>
    <script src="js/vendor.js"></script>
</head>

<body ng-app="amaraja">
    <ion-side-menus>
        <ion-pane ion-side-menu-content>
            <ion-nav-bar class="bar-positive">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-pane>
        <ion-side-menu side="left">
            <ion-header-bar class="bar bar-header text-center user-logo-center">
                <img class="text-center" src="img/amaraja.jpg" style="width: 20%; " />
            </ion-header-bar>
            <ion-content has-header="true">
                <div ng-controller="userController as vm">
                    <div class="expandcollapse-para" ng-show='vm.userDept == "Engineering"'>
                        <div ng-click="active = !active; active1 = false; active2 =false; active3 = false; active4 = false; active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                            <div class="cursorpointer">
                                <p>Engineering</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active, 'TURNDOWNARROW': !active}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active, 'hidediv': !active}" ng-if='vm.userDept == "Engineering"'>
                            <div class="expand-collapse-content">
                                <ul ng-if='vm.userType == "Operator"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getFormName(x.levelForm)">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                                <ul ng-if='vm.userType == "Approver"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getTableRecords(x.levelForm)">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para" ng-show='vm.userDept == "Production" || vm.userDept == "QA"'>
                        <div ng-click="active = !active; active1 = false; active2 =false; active3 = false; active4 = false; active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                            <div class="cursorpointer">
                                <p ng-if='vm.userDept == "Production"'>Production</p>
                                <p ng-if='vm.userDept == "QA"'>QA</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active, 'TURNDOWNARROW': !active}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active, 'hidediv': !active}" ng-if='vm.userDept == "Production" || vm.userDept == "QA"'>
                            <div class="expand-collapse-content">
                                <ul ng-if='vm.userType == "Operator" '>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getFormName(x.levelForm || x.formName)">
                                        {{ x.levelForm || x.formName }}
                                    </li>
                                </ul>
                                <ul ng-if='vm.userType == "Approver" || vm.userType == "Supervisor"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getTableRecords(x.levelForm || x.formName)">
                                        {{ x.levelForm || x.formName }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para" ng-show='vm.userDept == "Maintenance"'>
                        <div ng-click="active = !active; active1 = false; active2 =false; active3 = false; active4 = false; active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                            <div class="cursorpointer">
                                <p>Maintenance</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active, 'TURNDOWNARROW': !active}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active, 'hidediv': !active}" ng-if='vm.userDept == "Maintenance"'>
                            <div class="expand-collapse-content">
                                <ul ng-if='vm.userType == "Operator"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getFormName(x.levelForm)">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                                <ul ng-if='vm.userType == "Approver"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getTableRecords(x.levelForm)">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para" ng-show='vm.userDept == "Mold Maintenance"'>
                        <div ng-click="active = !active; active1 = false; active2 =false; active3 = false; active4 = false; active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                            <div class="cursorpointer">
                                <p>Mold Maintanance</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active, 'TURNDOWNARROW': !active}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active, 'hidediv': !active}" ng-if='vm.userDept == "Mold Maintenance"'>
                            <div class="expand-collapse-content">
                                <ul ng-if='vm.userType == "Operator"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getFormName(x.levelForm)">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                                <ul ng-if='vm.userType == "Approver"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getTableRecords(x.levelForm)">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para" ng-show='vm.userDept == "Production Admin" || vm.userDept == "QA Admin"'>
                        <div ng-click="active = !active; active1 = false; active2 =false; active3 = false; active4 = false; active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                            <div class="cursorpointer">
                                <p>Admin</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active, 'TURNDOWNARROW': !active}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active, 'hidediv': !active}" ng-if='vm.userDept == "Mold Maintenance"'>
                            <div class="expand-collapse-content">
                                <ul ng-if='vm.userType == "Operator"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getFormName(x.levelForm)">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                                <ul ng-if='vm.userType == "Approver"'>
                                    <li menu-close ng-repeat=" x in vm.record track by $index" ng-click="vm.getTableRecords(x.levelForm)">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para" ng-show='vm.userType == "Operator"'>
                        <div ng-click="active6 = !active6; active = false; active1 = false; active2 = false; active3 = false;active4 = false; active5 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active6, 'expandcollapse-heading-expanded': !active6}">
                            <div class="cursorpointer">
                                <p>Draft</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active6, 'TURNDOWNARROW': !active6}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active6, 'hidediv': !active6}">
                            <div class="expand-collapse-content">
                                <ul>
                                    <li menu-close ng-repeat=" x in vm.inFlowList track by $index" ng-click="vm.inProcess(x.tableName,'Draft')">
                                        {{ x.tableName }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para">
                        <div ng-click="active4 = !active4; active = false; active1 = false; active2 = false; active3 = false; active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active4, 'expandcollapse-heading-expanded': !active4}">
                            <div class="cursorpointer">
                                <p>In-Flow</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active4, 'TURNDOWNARROW': !active4}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active4, 'hidediv': !active4}" ng-if="vm.inFlowList.length>0">
                            <div class="expand-collapse-content">
                                <ul>
                                    <li menu-close ng-repeat=" x in vm.inFlowList track by $index" ng-click="vm.inProcess(x.tableName)">
                                        {{ x.tableName }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para">
                        <div ng-click="active1 = !active1; active = false; active2 = false; active3 = false; active4 = false; active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
                            <div class="cursorpointer">
                                <p>Rejected</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active1, 'TURNDOWNARROW': !active1}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active1, 'hidediv': !active1}" ng-if="vm.rejectList.length>0">
                            <div class="expand-collapse-content">
                                <ul>
                                    <li menu-close ng-repeat=" x in vm.rejectList track by $index" ng-click="vm.Rejected(x.tableName, 'Reject')">
                                        {{ x.tableName }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para">
                        <div ng-click="active2 = !active2; active = false; active1 = false; active3 = false; active4 = false; active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
                            <div class="cursorpointer">
                                <p>Transfer</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active2, 'TURNDOWNARROW': !active2}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active2, 'hidediv': !active2}">
                            <div class="expand-collapse-content">
                                <ul>
                                    <li menu-close ng-repeat=" x in vm.transferList track by $index" ng-click="vm.Rejected(x.levelForm, 'Transfer')">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para">
                        <div ng-click="active3 = !active3; active = false; active1 = false; active2 = false; active4 = false;  active5 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active3, 'expandcollapse-heading-expanded': !active3}">
                            <div class="cursorpointer">
                                <p>Return</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active3, 'TURNDOWNARROW': !active3}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active3, 'hidediv': !active3}">
                            <div class="expand-collapse-content">
                                <ul>
                                    <li menu-close ng-repeat=" x in vm.returnList track by $index" ng-click="vm.Rejected(x.levelForm, 'Return')">
                                        {{ x.levelForm }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para">
                        <div ng-click="active5 = !active5; active = false; active1 = false; active2 = false; active3 = false; active4 = false;active6 = false;"
                            ng-class="{'expandcollapse-heading-collapsed': active5, 'expandcollapse-heading-expanded': !active5}">
                            <div class="cursorpointer">
                                <p>Completed</p>
                                <div class="UPARROW ion-ios-arrow-up" ng-class="{'TURNUPARROW': active5, 'TURNDOWNARROW': !active5}"></div>
                            </div>
                        </div>
                        <div ng-class="{'showdiv': active5, 'hidediv': !active5}">
                            <div class="expand-collapse-content">
                                <ul>
                                    <li menu-close ng-repeat=" x in vm.completed track by $index" ng-click="vm.completed1(x.formName)">
                                        {{ x.formName }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="expandcollapse-para brd-btm">
                        <div ng-click="vm.trackRecordDetails()" class="cursorpointer ">
                            <p>Record Details</p>
                        </div>
                    </div>
                    <div class="expandcollapse-para brd-btm">
                        <div class="cursorpointer" ng-click="vm.pdf()">
                            <p>Report</p>
                        </div>
                    </div>
                    <div class="expandcollapse-para brd-btm">
                        <div ng-click="vm.logout()" class="cursorpointer">
                            <p>Logout</p>
                        </div>
                    </div>
                    </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</body>

</html>
