<ion-view hide-nav-bar="true">
  <div align-title="left" class="bar bar-header" ng-controller="userController as vm">
    <div class="col-sm-3">
      <img src ="img/amaraja.jpg" style="width: 20%;" />
    </div>
    <div class="col-sm-9 padding">
      <ul class="displayflex menu-nav" role="tablist"">
        <li role="presentation" ng-click="vm.createForm()"><img src="img/create.png" class="menuImg-width"><span class="padding">Create Form</span></li>
        <li role="presentation" id="edit_dropdown_id" ng-click="vm.editForms()"><img src="img/edit.png" class="menuImg-width"><span class="padding">Edit Form</span>
          <ul class="dropdown-content">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search" ng-model="test">
            </label>
            <li ng-show = "test.length >= 3" class="cursorpointer" ng-repeat = "forms in vm.tableName | orderBy | filter:test" ng-click="vm.selectedTableName(forms)">{{forms.tableName}}</li>
            <li ng-show = "!(test.length >= 3)" class="cursorpointer" ng-repeat = "forms in vm.tableName | orderBy | limitTo: 10 " ng-click="vm.selectedTableName(forms)">{{forms.tableName}}</li>
          </ul>
        </li>
        <li role="presentation" id="workflow_dropdown_id" class="cursorpointer" ng-click="vm.workflow()"><img src="img/workflow.png" class="menuImg-width"><span class="padding">Workflow</span>
          <ul class="dropdown-content">
            <li class="cursorpointer" ng-click="vm.gotoWorkflow()">Create Workflow</li>
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search" ng-model="work">
            </label>
            <li ng-show = "work.length >= 3" class="cursorpointer" ng-repeat = "workdata in vm.workName | orderBy | filter:work" ng-click="vm.selectedWorkName(workdata)">{{workdata.workflowName}}</li>
            <li ng-show = "!(work.length >= 3)" class="cursorpointer" ng-repeat = "workdata in vm.workName | orderBy | limitTo: 10 " ng-click="vm.selectedWorkName(workdata)">{{workdata.workflowName}}</li>
          </ul>
        </li>
        <li role="presentation" id="" class="active cursorpointer" ng-click="vm.getFormNames()"><img src="img/process.png" class="menuImg-width"><span class="padding">Process Flow</span>
        </li>
        <li ng-click="vm.logouthead()"><img src="img/logout.png" class="menuImg-width"><span class="padding">Logout</span>
        </li>
      </ul>
    </div>
  </div>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
<ion-content class="work-flow top-44px formCenter getformFont scroll-content ionic-scroll  has-header">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>
          <b>Workflow Name</b>
        </th>
        <th>
          <b>Levels</b>
        </th>
        <th>
          <b>Level Name</b>
        </th>
        <th>
          <b>Department</b>
        </th>
        <th>
          <b>Form Name</b>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="forms in vm.workflowNames track by $index">
        <td>
          {{forms.workflowName}}
        </td>
        <td>
          {{forms.levels}}
        </td>
        <td>
          {{forms.levelName}}
        </td>
        <td>
          {{forms.department}}
        </td>
        <td>
          {{forms.levelForm}}
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
</ion-view>