<div>
	<div>
		<label class="input-color">Select from which table</label>
		<select class="form-control cursor-pointer" ng-model="current_field.Settings[2].DynaicRef.TableId" ng-change="vm.getDynamicTableColuman(current_field.Settings[2].DynaicRef.TableId )">
			<option ng-repeat="data in vm.dynamicTableList" value="{{data.rowid || data.tableName}}">{{data}}</option>
		</select>
	</div>

	<div>
		<label class="input-color">Select which column</label>
		<select class="form-control cursor-pointer" ng-model="current_field.Settings[2].DynaicRef.RefCol">
			<option ng-repeat="data in vm.dynamicTableColList">{{data.COLUMN_NAME}}</option>
		</select>
	</div>
	<!-- <div>
		<label class="input-color">Select Filter column</label>
		<select class="form-control cursor-pointer" ng-model="current_field.Settings[2].DynaicRef.FilterCol">
			<option ng-repeat="data in vm.dynamicTableColList">{{data.COLUMN_NAME}}</option>
		</select>
	</div> -->




	<div>
		<label class="input-color">Select from which table</label>
		<select class="form-control cursor-pointer" ng-model="asas" ng-change="vm.getDynamicsameTableColuman(asas)">
			<option ng-repeat="data in vm.dynamicTableList" value="{{data.rowid || data.tableName}}">{{data}}</option>
		</select>
	</div>
	<div>
		<label class="input-color">Select Filter column</label>
		<select class="form-control cursor-pointer" ng-model="current_field.Settings[2].DynaicRef.FilterCol">
			<option ng-repeat="data in vm.dynamicsameTableColList">{{data.COLUMN_NAME}}</option>
		</select>
	</div>


</div>