<ion-view hide-nav-bar="true">
	<div align-title="left" class="bar bar-header" ng-controller="userController as vm">
		<div class="col-sm-3">
	  	<img src ="img/amaraja.jpg" style="width: 20%;" />
	  </div>
	  <div class="col-sm-9 padding">
		  <ul class="displayflex menu-nav" role="tablist"">
		  	<li role="presentation" class="cursorpointer" ng-click="vm.createForm()"><img src="img/create.png" class="menuImg-width"><span class="padding">Create Form</span></li>
		  	<li role="presentation" id="edit_dropdown_id" class="active cursorpointer" ng-click="vm.editForms()"><img src="img/edit.png" class="menuImg-width"><span class="padding">Edit Form</span>
		  		<ul class="dropdown-content">
		  			<label class="item item-input">
						  <i class="icon ion-search placeholder-icon"></i>
						  <input type="search" placeholder="Search" ng-model="test">
						</label>
		  			<li ng-show = "test.length >= 3" class="cursorpointer" ng-repeat = "forms in vm.tableName | orderBy | filter:test" ng-click="vm.selectedTableName(forms)">{{forms.tableName}}</li>
		  			<li ng-show = "!(test.length >= 3)" class="cursorpointer" ng-repeat = "forms in vm.tableName | orderBy | limitTo: 10 " ng-click="vm.selectedTableName(forms)">{{forms.tableName}}</li>
				  </ul>
		  	</li>
		  	<li role="presentation" id="workflow_dropdown_id" class="cursorpointer" ng-click="vm.workflow()"><img src="img/workflow.png" class="menuImg-width"><span class="padding">Workflow</span>
		  		<ul class="dropdown-content">
		  			<li class="cursorpointer" ng-click="vm.gotoWorkflow()">Create Workflow</li>
		  			<label class="item item-input">
						  <i class="icon ion-search placeholder-icon"></i>
						  <input type="search" placeholder="Search" ng-model="work">
						</label>
		  			<li ng-show = "work.length >= 3" class="cursorpointer" ng-repeat = "workdata in vm.workName | orderBy | filter:work" ng-click="vm.selectedWorkName(workdata)">{{workdata.workflowName}}</li>
		  			<li ng-show = "!(work.length >= 3)" class="cursorpointer" ng-repeat = "workdata in vm.workName | orderBy | limitTo: 10 " ng-click="vm.selectedWorkName(workdata)">{{workdata.workflowName}}</li>
				  </ul>
		  	</li>
		  	<li role="presentation" id="" class="cursorpointer" ng-click="vm.getFormNames()"><img src="img/process.png" class="menuImg-width"><span class="padding">Process Flow</span>
		  	</li>
		  	<li ng-click="vm.logouthead()"><img src="img/logout.png" class="menuImg-width"><span class="padding">Logout</span>
		  	</li>
			</ul>
		</div>
	</div>
	<ion-nav-buttons side="left">
	  <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
	</ion-nav-buttons>
<ion-content class="top-44px" scroll="">
<!-- <div class='fb-main'></div> -->
<div class="container-fluid HIGT100">
	<div class="row HIGT100 row_block">
		<div class="col-md-3" id="sideBar">
			<div class="tab-container text-center">
				<ul class="neo-nav clearfix" role="tablist" ng-init='shoeaddfiels = "true"'>
					<li role="presentation" class="active"><a  ng-click="shoeaddfiels = 'true'" id="addFieldTab_lnk" aria-controls="home" role="tab" data-toggle="tab">Add a Field</a></li>
					<li role="presentation"><a  ng-click="shoeaddfiels = 'false'" id="fieldSettingTab_lnk" aria-controls="profile" role="tab" data-toggle="tab">Field Settings</a></li>
				</ul>
			</div>
			<div class="tab-content" id="sidebar-tab-content HIGT100">
				<div role="tabpanel" class="tab-pane  HIGT100" id="addFieldTab" ng-class="{'active':shoeaddfiels == 'true'}">
					<p>
						<a role="button" data-toggle="collapse" href="#editForms#stdFields">
							<i class="fa fa-lg fa-plus-square-o"></i><i class="fa fa-lg fa-minus-square-o"></i> STANDARD FIELDS
						</a>
					</p>
					<div class="collapse in" id="stdFields">
						<ul  ng-model="dragElements" class="sortable-stdFields">
							<li draggable="true" class="dragElement-wrapper" ng-repeat="ele in dragElements" element-draggable data-index="{{$index}}">
								<div class="drag-element" ng-click="addElement(ele)">
									<i class="{{ele.Image}}"></i> {{ele.Name}}
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="fieldSettingTab"   ng-class="{'active':shoeaddfiels == 'false'}">
					<div ng-repeat="set in current_field.Settings" ng-switch on="set.Type">
						<div >
							<div class="form-group " ng-switch-when="text">
								<label class="label-color" for="{{set.Name.replace(' ','_')}}">{{set.Name}}
									<span class="orange-txt">*</span>
								</label>
								<input ng-change="current_field.ChangeFieldSetting(set.Value, set.Name)" type="text" ng-model="set.Value"  class="form-control input-color" id="{{set.Name.replace(' ','_')}}" value="{{set.Value}}" placeholder="{{set.Name}}">
							</div>
							<div class="form-group" ng-switch-when="string">
								<label >{{set.Name}} </label>
								<br>
								<span >{{set.Value}}</span>
							</div>
							<div class="form-group" ng-switch-when="label">
								<label class="pale">{{set.Name}} </label>
							</div>
							<div class="form-group " ng-switch-when="dropdown" >
								<label class="label-color" >{{set.Name}}</label>
								<select class="form-control input-color" ng-model="set.Value" >
									<option ng-repeat="op in set.PossibleValue">{{op}}</option>
								</select>
							</div>
							<div class="form-group" ng-switch-when="radio">
								<label class="control-label label-color">
									Type
								</label>
								<div ng-repeat="val in set.PossibleValue" class="radio">
									<label>
										<input class="input-color" type="radio" name="optionsRadios"  value="{{val.Checked}}" ng-checked="val.Checked">
										{{val.Text}}
									</label>
								</div>
							</div>
							<div class="form-group" ng-switch-when="number">
								<label class="label-color">{{set.Name}}</label>
								<br>
								<label>
									<input ng-change="current_field.ChangeFieldSetting(set.Value, set.Name)" type="number" ng-model="set.Value"  class="form-control input-color" id="{{set.Name.replace(' ','_')}}" placeholder="{{set.Name}}">
								</label>
							</div>
							<div class="form-group" ng-switch-when="dropdown_increment">
								<label class="control-label label-color">
									Choices
								</label>
								<div ng-repeat="val in set.PossibleValue" class="radio" class="form-control">									
									
									<input type="text"  value="val.Text" ng-model="val.Text" class="DISINB form-control rdBtn-Inpt-Wdth input-color">
									<a class="js-add-option fb-button" title="Add Option" ng-click="addChoice(set)"><i class="fa fa-plus-circle cursorpointer"></i></a>
									<a class="js-remove-option fb-button backGnd-remove" title="Remove Option" ng-click="removeChoice(set, $index)"><i class="fa fa-minus-circle cursorpointer"></i></a>
								</div>
							</div>
							<div class="form-group" ng-switch-when="select_drop_increment">
								<label class="control-label label-color">
									Choices
								</label>
								<br/>
								<label class="input-color">
									<input type="checkbox" ng-model="set.MasterRef" ng-checked="set.MasterRef" ng-change="vm.selectionChange(set)">
									Data from Master
								</label>								
								<div ng-if = "!set.MasterRef" ng-repeat="val in set.PossibleValue" class="radio" class="form-control">
									<input type="text"  value="val.Text" ng-model="val.Text" class="DISINB form-control rdBtn-Inpt-Wdth input-color">
									<a class="js-add-option fb-button" title="Add Option" ng-click="addChoice(set)"><i class="fa fa-plus-circle cursorpointer"></i></a>
									<a class="js-remove-option fb-button backGnd-remove" title="Remove Option" ng-click="removeChoice(set, $index)"><i class="fa fa-minus-circle cursorpointer"></i></a>
								</div>
								<!-- <div ng-if = "set.MasterRef">
									<label class="input-color">Select from which table</label>
									<select class="form-control cursor-pointer" ng-model="set.MasterData[0].TableName" ng-change="vm.changeSelectedMaster(set.MasterData[0].TableName)">
										<option ng-repeat="data in vm.masterTableNames">{{data.tableName}}</option>
									</select>
								</div>
								<div ng-if = "set.MasterRef">
									<label class="input-color">Select which column</label>
									<select class="form-control cursor-pointer" ng-model="set.MasterData[0].ColumnName" ng-change="vm.changeSelectedColumn(current_field, set.MasterData[0])">
										<option ng-repeat="data in vm.columnNames">{{data}}</option>
									</select>
								</div> -->
								<br/>
								<label class="input-color">
									<input type="checkbox" ng-model="set.DynamicTableRef" ng-checked="set.DynamicTableRef" ng-change="vm.setDynamicTable(set)">
									Data From Dynameic Table
								</label>	


							</div>
							<div class="form-group" ng-switch-when="select_table_drop_increment">
								<label class="control-label label-color">
									Table Values
								</label>
								<br/>
								<label class="input-color">
									<input type="checkbox" ng-model="set.MasterRef" ng-checked="set.MasterRef" ng-change="vm.masterCheckChange(set, current_field)">
									Data from Master
								</label>
								<!-- <div ng-if = "set.MasterRef">
									<label class="input-color">Select on which column to display</label>
									<select class="form-control cursor-pointer" ng-model="set.MasterData[0].column">
										<option ng-repeat="data in current_field.Settings[3].PossibleValue[0].columns">{{data.value}}</option>
									</select>
								</div>
								<div ng-if = "set.MasterRef">
									<label class="input-color">Select from which table</label>
									<select class="form-control cursor-pointer" ng-model="set.MasterData[0].TableName" ng-change="vm.changeSelectedMaster(set.MasterData[0].TableName)">
										<option ng-repeat="data in vm.masterTableNames">{{data.tableName}}</option>
									</select>
								</div>
								<div ng-if = "set.MasterRef">
									<label class="input-color">Select which column</label>
									<select class="form-control cursor-pointer" ng-model="set.MasterData[0].ColumnName">
										<option ng-repeat="data in vm.columnNames">{{data}}</option>
									</select>
								</div>
								<div>
									<button class="table-populate-btn" ng-if = "set.MasterRef" ng-click="vm.populate(current_field)">populate</button>
								</div> -->
							</div>
							<div ng-switch-when="checkBoxZone">
								<a role="button" data-toggle="collapse" href="#editForms#chkBoxZone">
									<i class="fa fa-lg fa-plus-square-o"></i><i class="fa fa-lg fa-minus-square-o"></i> {{set.Name}}
								</a>
								<div class="collapse in" id="chkBoxZone">
									<div class="form-group" ng-repeat="op in set.Options">
										<label class="checkbox-inline input-color">
											<input type="checkbox" id="checkbox_Id" value="{{op.Value}}" ng-model="op.Value"> {{op.Name}}
										</label>
									</div>
								</div>
								<div class="collapse in">
									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox"  value="restrict" ng-model="restrict" ng-change="vm.getDepartments(restrict)"> Restrict
										</label>
										<div class="form-group" ng-if="restrict" ng-repeat="depts in vm.departments">
											<label class="checkbox-inline input-color">
											<input type="checkbox" value="{{depts.deptName}}" ng-model="set.Restrict[depts.deptName]"> {{depts.deptName}}
											</label>
										</div>										
									</div>
								</div>								
								<div class="collapse in" ng-if="current_field.Type =='table'">
									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox"  value="colRestrict" ng-model="colRestrict" ng-change="vm.getAllColumnList(current_field)"> column Restrict
										</label>

										{{set.ColmRestrict.length}}
										<div  ng-repeat="colms in set.ColmRestrict track by $index" ng-if="colRestrict">
											<label class="checkbox-inline input-color">
												<input type="checkbox"  value="asd" ng-model="asd"> {{colms.column}}
											</label>
											<div class="form-group" ng-if="asd" ng-repeat="depts in vm.departments">
												<label class="checkbox-inline input-color">
												<input type="checkbox" value="{{depts.deptName}}" ng-model="checkValue" ng-change="vm.addColDept(depts.deptName, colms.column, set)"> {{depts.deptName}}
												</label>
											</div>
										</div>																				
									</div>

									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox"  value="oknotok" ng-model="oknotok" ng-change="vm.getAllColumnList(current_field)"> Ok/Not Ok Columan
										</label>
										{{set.Remark}}
										<div class="form-group" ng-if="oknotok" >
											<select class="form-control lightgray-color" ng-model="set.Remark">
												<option  ng-repeat="colms in vm.colList track by $index" value='{{$index}}'>{{colms.value1}}</option>
											</select>
										</div>																			
									</div>

									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox"  ng-model="set.colCondition" ng-change="vm.setColCondition(set, current_field)"> 
											Column Condition
										</label>
									</div>

								</div>

								<div class="collapse in">
									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox"  value="cavity" ng-model="cavity" ng-change="vm.getAllColumnList(current_field)"> Set Cavity Field
										</label>																			
										<div class="form-group" ng-if="cavity">
											<select class="form-control lightgray-color" ng-model="set.Cavity">
												<option ng-repeat="colms in vm.colList" value="{{colms.value}}">{{colms.value1}}</option>
											</select>
										</div>
									</div>
								</div>

								<div class="collapse in" ng-if="current_field.Type =='text'">
									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox"  value="autofill" ng-model="autofill">Auto Fill
										</label>																			
										<div class="form-group" ng-if="autofill">
											<select class="form-control lightgray-color" ng-model="set.AutoFill">
												<option ng-repeat="colms in vm.OperatoList">{{colms}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox" ng-model="current_field.setTime"> Set Time Columns
										</label>
									</div>
								</div>
							
							<div class="collapse in" ng-if="current_field.Type =='table'">
									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox" ng-model="tabledropdown" ng-change="vm.setTableColumnRef(set, current_field)"> Set Table DropDown
										</label>																			
									</div>
									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox" ng-model="setTime" ng-change="vm.getAllColumnList(current_field)"> Set Time Columns
										</label>

										<div class="" ng-if="setTime" ng-repeat="colms in vm.colList">
											<label class="checkbox-inline input-color">
											<input type="checkbox" value="{{colms.value}}" ng-model="checkValue" ng-change="vm.addColTimer(colms, current_field)"> {{colms.value1}}
											</label>
										</div>	
									</div>
									<div class="form-group">
										<label class="checkbox-inline input-color">
											<input type="checkbox" ng-model="setDate" ng-change="vm.getAllColumnList(current_field)"> Set Date Columns
										</label>

										<div class="" ng-if="setDate" ng-repeat="colms in vm.colList">
											<label class="checkbox-inline input-color">
											<input type="checkbox" value="{{colms.value}}" ng-model="checkValue" ng-change="vm.addColDate(colms, current_field)"> {{colms.value1}}
											</label>
										</div>	
									</div>
								</div>


								<!-- <div ng-if="current_field.Name == 'Table'">
									<label class="checkbox-inline input-color">
										<input type="checkbox"  value="restrict" ng-model="restrict"> Column Restrict
									</label>
									<div class="form-group" ng-if="restrict" ng-repeat="columns in current_field.GetFieldSetting('Table').PossibleValue[0].columns">
										<label class="checkbox-inline input-color">
										<input type="checkbox" value="rest" ng-model="rest" ng-change="vm.getDepartments(rest)"> {{columns.value}}
										</label>
									</div>{{set}}
									<div class="form-group" ng-if="rest" ng-repeat="depts in vm.departments">
										<label class="checkbox-inline input-color">
										<input type="checkbox" value="{{depts.deptName}}" ng-model="set.Restrict[depts.deptName]"> {{depts.deptName}}
										</label>
									</div>
								</div> -->
							</div>
							<div ng-switch-when="table">
								<a role="button" data-toggle="collapse" href="#editForms#chkBoxZone">
									<i class="fa fa-lg fa-plus-square-o"></i><i class="fa fa-lg fa-minus-square-o"></i> {{set.Name}}
								</a>
								<div class="collapse in" id="chkBoxZone">
									<!-- <div class="form-group" ng-repeat="op in set.PossibleValue">
										<label class="checkbox-inline" >
											<input type="checkbox" value="{{op.Value}}" ng-model="op.Value"> {{op.Name}}
										</label>
									</div> -->
									<div >
										<div class="form-group input-color">add col <a class="js-add-option fb-button" title="Add Option" ng-click="addCol(set)"><i class="fa fa-plus-circle cursorpointer"></i></a>
									</div>
									<div class="form-group input-color">add row <a class="js-add-option fb-button" title="Add Option" ng-click="addRow(set)"><i class=" fa fa-plus-circle cursorpointer"></i></a>
								</div>
								<!-- <button type="button" class="btn btn-xs btn-success" ng-click="addCol(set)">add col</button>
								<button type="button" class="btn btn-xs btn-success" ng-click="addRow(set)">add row</button> -->
							</div>
						</div>
					</div>
					<p ng-switch-default>
						Unknown
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-9 text-center" id="main-content">
	<ul class="neo-nav header" role="tablist">
		<li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab">Form Title</a></li>
		<li role="presentation" class="li-width79"><input class="width100pr gray-color form-title-paddding" type="text" ng-model="vm.formName"></li>
		<!-- <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Entity & Field Permission</a></li>
		<li role="presentation" class=""><a href="#" aria-controls="home" role="tab" data-toggle="tab">Detail Builder</a></li>
		<li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Add Table</a></li> -->
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active text-left" id="formBuilderContent">
			
			<div class="container-fluid" id="dropZone"  ng-form="myForm">
				<!-- <div class="col-sm-12">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="sort" class="col-sm-6 control-label darkgray-color"> Select Forms : </label>
							<div class="col-sm-6">
								<select class="form-control" name="sort" id="sort" ng-model="vm.selectedTable" ng-change="getTableByName(vm.selectedTable)">
									<option ng-repeat="x in vm.tableName track by $index "  value="{{x.rowid}}">{{x.tableName}}</option>
								</select>
							</div>
						</div>
					</div>
				</div> -->
			<!-- 	{{formFields}} -->
				<ul class="row sortable-formbuilder row_block" element-drop  ui-sortable="formbuilderSortableOpts" ng-model="formFields" id="sortable-formbuilder-ul">
					<li  ng-repeat="field in formFields" element-drop data-index="{{$index}}" ng-switch on="field.Type" ng-class="'sortable-field col-md-' + field.GetFieldSetting('Column Span').Value " ng-click="activeField(field)" data-index="{{$index}}">
						<div class="form-group"  ng-switch-when="text" ng-class="field.Active ? 'active-field' : '' " >
							<div>
								<input type="text" class="input-as-label dsply-inlineblck darkgray-color" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required') ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" required/>
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
							</div>
							<!--<label ng-if="!field.Active" for="{{field.Name.replace(' ','_') + field.id}}">{{field.Name}}<span ng-if="field.GetFieldSetting('Required')">*</span></label> -->
							<input type="text" class="form-control border-1px lightgray-color" id="{{field.Name.replace(' ','_') + field.id}}" value="{{field.Value}}" placeholder="{{field.Name}}">
							<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-click="removeElement($index)" ng-if="field.Active"></i>
						</div>
						<div class="form-group k" ng-switch-when="date" ng-class="field.Active ? 'active-field' : '' ">
							<div>
								<input type="text" class="input-as-label dsply-inlineblck darkgray-color" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required').Value ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" required/>
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
							</div>
							<div class="has-feedback">
								<input type="text" class="form-control border-1px lightgray-color"  placeholder="{{field.Name}}">
								<span class="glyphicon glyphicon-calendar form-control-feedback custom-feedback" aria-hidden="true"></span>
								<span id="inputSuccess2Status" class="sr-only">(success)</span>
							</div>
							<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
						</div>
						<div class="form-group " ng-switch-when="dropdown" ng-class="field.Active ? 'active-field' : '' ">
							<div>
								<input type="text" class="input-as-label dsply-inlineblck darkgray-color" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required').Value ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" required/>
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
							</div>
							<select class="form-control lightgray-color" >
								<option ng-repeat="val in field.GetFieldSetting('Choice').PossibleValue">
									{{val.Text}}
								</option>
							</select>
							<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
						</div>
						<div class="form-group " ng-switch-when="textarea" ng-class="field.Active ? 'active-field' : '' ">
							<div>
								<input type="text" class="input-as-label dsply-inlineblck darkgray-color" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required').Value ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" required/>
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
							</div>
							<textarea class="form-control lightgray-color" id="{{field.Name.replace(' ','_')  + field.id}}" rows="4"></textarea>
							<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
						</div> 
						<div class="form-group " ng-switch-when="button" ng-class="field.Active ? 'active-field' : '' ">
							<div>
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
								<input type="file" class="input-as-label imgbutton dsply-inlineblck darkgray-color" ngf-select ng-model="picFile" accept="image/*" required>
							</div>
							<button ng-click="vm.getBase64(field)">upload</button>
							<img ngf-thumbnail="picFile" class="thumb" id="logo_image" >
							<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
						</div>
						<!-- <div class="form-group " ng-switch-when="calendar" ng-class="field.Active ? 'active-field' : '' ">
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
										<p class="input-group">
											<input type="text" class="form-control"
								datepicker-popup="mediumDate"
								show-weeks="false"  show-button-bar="false"
								is-open="vm.valuationDatePickerIsOpen"
								ng-click="vm.valuationDatePickerOpen()"
								ng-model="vm.valuationDate" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
									ng-click="vm.valuationDatePickerOpen($event)">
									<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
										</p>
									
								<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
						</div> -->
						<!-- custom html for check box start -->
						<div class="form-group " ng-switch-when="radio" ng-class="field.Active ? 'active-field' : '' ">
							<div>
								<input type="text" class="input-as-label dsply-inlineblck darkgray-color" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required').Value ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" required/>
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
							</div>
							<label class="padding-right10px lightgray-color" ng-repeat="val in field.GetFieldSetting('Choice').PossibleValue">
								<input class="margin-right5px" name="name"   type="radio" ng-model="myradio" value="{{val.Text}}">{{val.Text}}
							</label>
							<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
						</div>
						<!-- custom check end -->
						<!-- custom html for checkbox start -->
						<div class="form-group " ng-switch-when="checkbox" ng-class="field.Active ? 'active-field' : '' ">
							<div>
								<input type="text" class="input-as-label dsply-inlineblck darkgray-color" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required').Value ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" required/>
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
							</div>
							<label class="padding-right10px lightgray-color" ng-repeat="val in field.GetFieldSetting('Choice').PossibleValue">
								<input class="margin-right5px" name="name"   type="checkbox" ng-model="mycheckbox" value="{{val.Text}}">{{val.Text}}
							</label>
							<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
						</div>
						<!-- custom checkbox end -->
						<!-- custom table start -->
						<div class="form-group OVERFLWY" ng-switch-when="table" ng-class="field.Active ? 'active-field' : '' ">
							<div>
								<input type="text" class="input-as-label dsply-inlineblck darkgray-color" placeholder="Enter Label Name" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required').Value ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" required/>
								<span ng-if="field.GetFieldSetting('Required').Value" class="orange-txt">*</span>
							</div>
							<table class="table table-condensed table-striped">
								<thead>
									<tr>
										<th><!-- <span class="nowrap">
											<button type="button" class="btn btn-xs btn-success" ng-click="addCol(field.GetFieldSetting('Table').PossibleValue[0])">add col</button>
											<button type="button" class="btn btn-xs btn-success" ng-click="addRow(field.GetFieldSetting('Table').PossibleValue[0])">add row</button>
										</span> --></th>
										<th ng-repeat="col in field.GetFieldSetting('Table').PossibleValue[0].columns">
											<input type="checkbox" ng-model="col.readonly" ng-checked="col.readonly"></input>
											<b><span class="nowrap"><input class="width100pr lightgray-color" type="text" ng-model="col.value1" />
										<button type="button" class="close" ng-click="removeCol(field, $index)">&times;</button></span></b>
										</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="r in field.GetFieldSetting('Table').PossibleValue[0].rows">
									<td>
										<!-- <button type="button" class="btn btn-xs btn-danger" ng-click="removeRow($index, field)">remove row</button> -->
										<button type="button" class="close LETOPX" ng-click="removeRow($index, field)">×</button>
									</td>
									<td ng-repeat="cell in r.cells">
										<input type="text" class="width100pr lightgray-color" ng-model="cell.value" />
									</td>
								</tr>
							</tbody>
						</table>
						<i class ="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
					</div>
					<!-- custom table end -->
					<div ng-switch-default>
					</div>
				</li>
				<li class="drop-to-add col-md-12" element-drop>
				</li>
			</ul>
			<div class="col-sm-12 text-right" ng-show="vm.showButtons">
				<button class="button-imp button button-outline button-positive" ng-disabled="myForm.$invalid" ng-click="updateTable(formFields)">Save</button>
				<button class="button-imp button button-outline button-positive" ng-click="vm.cancel()">Cancel</button>	
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</ion-content>
</ion-view>