<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="col-sm-3">
            <div>
                <div class="card" ng-repeat="x in vm.TableRecords track by $index" ng-click="vm.showAllRecord(x, $index)">
                    <div class="item item-text-wrap text-center" ng-class="{active1 : activeMenu === $index}">{{x.recordName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9" id="border_getform" ng-show="vm.showRecordDetails">
            <div class="col-sm-12">
                <h2 class="showheadCenter">{{vm.selectedTableShow}}</h2>
            </div>
            <div class="col-sm-4">
                <h2 class="">{{vm.selectedRecord}}</h2>
            </div>
            <div class="col-sm-12">
                <div ng-repeat="x in vm.tableValue track by $index" class="col-sm-{{x.ColSpan}} min-height" ng-if='x.Restrict'>
                    <div class="form-group form-inline" ng-if="x.Type == 'text'">
                        <label class="col-sm-6 col-xs-6 text-right " for="inputEmail3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                        <div class="col-sm-6 col-xs-6">
                            <input type="text" class="form-control border-1px input-padding" id="" ng-model="x.Value" ng-required="{{x.Required}}" ng-change="vm.setEditTrue(x, vm.tableValue, x.Value)" maxlength="50" ng-disabled="{{x.ReadOnly}}" />
                        </div>
                    </div>
                    <div class="form-group form-inline" ng-if="x.Type == 'textarea' ">
                        <label class="col-sm-6 col-xs-6 text-right" for="inputEmail3">{{x.Name}}<span ng-class="orange-txt" ng-if="x.Required == true"> *</span></label>
                        <div class="col-sm-6 col-xs-6">
                            <textarea row="4" class="form-control input-padding" ng-model="x.Value" ng-required="{{x.Required}}" ng-change="vm.setEditTrue(x, vm.tableValue, x.Value)" ng-disabled="{{x.ReadOnly}}"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="x.Type == 'dropdown' ">
                        <label class="col-sm-6 col-xs-6 text-right" for="inputPassword3">{{x.Name}}<span class="orange-txt">*</span></label>
                        <div class="col-sm-6 col-xs-6">
                            <input list="{{$index}}" type="" class="form-control" ng-model="x.Value" ng-disabled="{{x.ReadOnly}}" ng-change="vm.setEditTrue(x, vm.tableValue, x.Value)" />
                            <datalist id="{{$index}}" ng-model="x.Value" ng-change="vm.setEditTrue(x, vm.tableValue, x.Value)">
                                <option ng-repeat="y in x.FieldOption" value="{{y.Text}}">{{y.Text}}</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group" ng-if="x.Type == 'radio'">
                        <label style="margin-top: 8px;" class="col-sm-6  col-xs-6 text-right" for="inputPassword3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                        <div class="col-sm-6 col-xs-6">
                            <label class="padding-right10px lightgray-color" ng-repeat="y in x.FieldOption">
                                <input type="radio" ng-model="x.Value" value="{{y.Text}}" ng-required="{{x.Required}}" ng-change="vm.setEditTrue(x, vm.tableValue, x.Value)" ng-disabled="{{x.ReadOnly}}">{{y.Text}}</label>
                        </div>
                    </div>
                    <div class="form-group" ng-if="x.Type == 'checkbox' ">
                        <label class="col-sm-6 col-xs-6 text-right" for="inputPassword3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                        <div class="col-sm-6 col-xs-6">
                            <label class="padding-right10px lightgray-color" ng-repeat="y in x.FieldOption">
                                <input type="checkbox" ng-model="x.Value[y.Text]" value="{{y.Text}}" ng-change="vm.setEditTrue(x, vm.tableValue, x.Value)" ng-disabled="{{x.ReadOnly}}">{{y.Text}}</label>
                        </div>
                    </div>
                    <div class="form-group" ng-if="x.Type == 'date' ">
                        <label class="col-sm-6 col-xs-6 text-right" for="inputPassword3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                        <div class="col-sm-6 col-xs-6">
                            <input type="text" class="form-control border-1px input-padding" ng-model="x.Value" ng-focus="vm.getDate(x)" ng-disabled="{{x.ReadOnly}}" ng-change="vm.setEditTrue(x, vm.tableValue, x.Value)">
                        </div>
                    </div>
                    <div class="form-group form-inline table-overflow" ng-if="x.Type == 'table'">
                        <label class="col-sm-12 col-xs-12 text-left " for="inputEmail3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                        <div class="col-sm-12 col-xs-12" style="overflow-x: scroll;">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th class="color-thead" ng-repeat="col in x.Value.table[0].columns track by $index" ng-if="$index >1 && vm.checkColrestrict(col.Value, x.ColmRestrict, $index) && col.Value != 'tableid'" ng-hide="col.showColumn">
                                            <b><span tooltip='{{col.Value1}}' tooltip-placement="bottom" class="nowrap width100pr" >
											<input class="" type="text" ng-model="col.Value1" disabled/>
										</span></b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div class="form-group input-color" ng-if="vm.showAdd">add row <a class="js-add-option fb-button" title="Add Option" ng-click="vm.addRow(x)"><i class=" fa fa-plus-circle cursorpointer"></i></a>
                                    </div>
                                    <tr ng-repeat="r in x.Value.table[1].rows">
                                        <td ng-repeat="cell in r.cells track by $index" ng-if="$index >1 && vm.hideIndex.indexOf($index) == -1 && x.Value.table[0].columns[$index].Value != 'tableid'  " ng-init="x.Remark = (x.Remark=''?-10:x.Remark)" ng-hide="x.Value.table[0].columns[$index].showColumn">
                                            <input type="text" class="width100pr" ng-model="cell.Value" ng-disabled="x.Value.table[0].columns[$index].readOnly" ng-change="vm.ColumanCondition(x.Value.table[0].columns[$index].Value, r.cells , x, cell)" ng-if="(x.Remark == false || $index-3 != x.Remark) && !x.Value.table[0].columns[$index].showTime && !x.Value.table[0].columns[$index].showDate" />
                                            <ion-toggle class="toggle-calm  remark-btn" ng-init="cell.Value = (cell.Value == 'true'?true:cell.Value) " ng-model="cell.Value" ng-if="x.Remark != false && $index-3 == x.Remark"> </ion-toggle>
                                            <input type="text" class="form-control border-1px" ng-if="!x.Value.table[0].columns[$index].showTime && x.Value.table[0].columns[$index].showDate" ng-model="cell.Value" ng-focus="vm.getDate(cell, vm.record[x.InternalName].columns[$index].value, r.cells , x)">
                                            <input type="text" class="form-control border-1px" ng-if="x.Value.table[0].columns[$index].showTime && !x.Table.columns[$index].showDate" ng-model="cell.Value" ng-focus="vm.getTime(cell, x.Value.table[0].columns[$index].Value, r.cells,  x  )">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group sortable-field col-md-12" ng-if=" vm.typeRejected != 'Reject' && vm.typeRejected != 'inprocess' && vm.typeRejected != 'done'">
                    <div class="col-sm-6 col-xs-6"></div>
                    <div class="col-sm-6 col-xs-6">
                        <label>
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="approved">Approve
                        </label>
                        <label ng-if="vm.department=='Production' && vm.loginUserRole=='Operator'">
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="draft">Draft
                        </label>
                        <label ng-hide="vm.department=='Production' && vm.loginUserRole=='Operator'">
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="reject">Reject
                        </label>
                        <label ng-hide="vm.department=='Production' && vm.loginUserRole=='Operator'">
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="return">Return
                        </label>
                        <label ng-if="vm.formLevelInnumber > 1">
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="transfer">Transfer
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12" ng-if="vm.approved == 'transfer'">
                        <div class="col-sm-6 col-xs-6 text-right">select Depatrtment</div>
                        <div class="col-sm-6 col-xs-6">
                            <select ng-model="vm.deptTransform" class="form-control">
                                <option ng-repeat="z in vm.returnDept" value="{{z}}">{{z}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 form-group" ng-if="vm.approved != '' && vm.approved != undefined">
                        <label class="col-sm-6 col-xs-6 text-right">Comment</label>
                        <div class="col-sm-6 col-xs-6">
                            <textarea class="margin-right5px width100pr brd comment_text" ng-model="vm.comment" value="return"></textarea><i class="icon icon ion-android-textsms comment_symb" ng-click="vm.getRecordTrack()"></i>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="vm.showtable">
                        <div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th class="color-thead"><b><span class="nowrap width100pr">Sl.No</span></b></th>
                                        <th class="color-thead"><b><span class="nowrap width100pr">Name</span></b></th>
                                        <th class="color-thead"><b><span class="nowrap width100pr">Role</span></b></th>
                                        <th class="color-thead"><b><span class="nowrap width100pr">Status</span></b></th>
                                        <th class="color-thead"><b><span class="nowrap width100pr">comment</span></b></th>
                                        <th class="color-thead"><b><span class="nowrap width100pr">Aproved Date</span></b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in vm.allDetails track by $index">
                                        <td>{{$index+1}}</td>
                                        <td>{{x.userName}}</td>
                                        <td>{{x.role}}</td>
                                        <td>{{x.status}}</td>
                                        <td>{{x.comment}}</td>
                                        <td>{{x.approvedDt}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-right" ng-if="vm.hideButtons && vm.typeRejected != 'Reject' && vm.typeRejected != 'inprocess' && vm.typeRejected != 'done'">
                <button class="button-imp button button-outline button-positive" ng-click="vm.updateRecord()">Save</button>
                <button class="button-imp button button-outline button-positive" ng-click="vm.cancel()">Cancel</button>
            </div>
        </div>
</ion-view>
</ion-content>
