<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content class="formCenter getformFont">
        <div></div>
        <div id="wrapper">
            <div class="col-sm-12" id="border_getform">
                <div>
                    <div class="col-sm-12">
                        <div class="col-sm-2 headerImg" id="border_showimg">
                            <img src="img/amaraja.jpg" class="amarImg" ng-show="vm.logoShow" />
                        </div>
                        <div class="col-sm-10">
                            <h2 class="showheadCenter">{{vm.selectedTableShow}}</h2>
                        </div>
                    </div>
                    <!-- {{vm.tableRecord}}   -->
                    <div ng-repeat="x in vm.tableRecord track by $index" class="col-sm-{{x.ColSpan}} min-height" ng-show="vm.checkDept(x.Restrict)">
                        <div ng-if='vm.checkDept(x)'></div>
                        <p>department {{x}}</p>
                        <div class="form-group form-inline" ng-if="x.Type == 'text'  ">
                            <label class="col-sm-6 col-xs-6 text-right " for="inputEmail3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                            <div class="col-sm-6 col-xs-6">
                                <input type="text" class="form-control border-1px input-padding" id="" ng-model="vm.record[x.InternalName]" maxlength="50" ng-required="{{x.Required}}" ng-init="vm.record[x.InternalName] = x.value" ng-disabled="{{x.ReadOnly}}" ng-if="!x.setTime" />
                                <input type="text" class="form-control border-1px input-padding" id="" ng-model="vm.record[x.InternalName]" ng-required="{{x.Required}}" ng-init="vm.record[x.InternalName] = x.value" ng-disabled="{{x.ReadOnly}}" ng-if="x.setTime" ng-focus="vm.getTime(x.InternalName, null, null , null)" />
                            </div>
                        </div>
                        <div class="form-group form-inline" ng-if="x.Type == 'textarea'  ">
                            <label class="col-sm-6 col-xs-6 text-right" for="inputEmail3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                            <div class="col-sm-6 col-xs-6">
                                <textarea row="4" class="form-control input-padding" ng-model="vm.record[x.InternalName]" ng-required="{{x.Required}}" ng-disabled="{{x.ReadOnly}}"></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-if="x.Type == 'dropdown'">
                            <label class="col-sm-6 col-xs-6 text-right" for="inputPassword3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                            <div class="col-sm-6 col-xs-6">
                                <input list="{{x.InternalName}}" type="" class="form-control" ng-model="vm.record[x.InternalName]" ng-disabled="{{x.ReadOnly}}" ng-change="vm.getValueDynamicaly(x, vm.tableRecord, vm.record, vm.record[x.InternalName])" />
                                <datalist id="{{x.InternalName}}" ng-model="vm.record[x.InternalName]" ng-change="vm.getValueDynamicaly(x, vm.tableRecord, vm.record, vm.record[x.InternalName])">
                                    <option ng-repeat="y in x.FieldOption track by $index">{{y.Text}} {{y.Text1}}</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group" ng-if="x.Type == 'radio'  ">
                            <label style="margin-top: 8px;" class="col-sm-6  col-xs-6 text-right" for="inputPassword3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                            <div class="col-sm-6 col-xs-6">
                                <label class="padding-right10px lightgray-color" ng-repeat="y in x.FieldOption">
                                    <input type="radio" ng-model="vm.record[x.InternalName]" value="{{y.Text}}" ng-required="{{x.Required}}" ng-disabled="{{x.ReadOnly}}">{{y.Text}}</label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="x.Type == 'checkbox'  ">
                            <label class="col-sm-6 col-xs-6 text-right dsply-inlineblck" for="inputPassword3">{{x.Name}}<span ng-if="x.Required == true" class="orange-txt">*</span></label>
                            <div class="col-sm-6 col-xs-6">
                                <label class="padding-right10px lightgray-color" ng-repeat="y in x.FieldOption">
                                    <input class="margin-right5px" type="checkbox" ng-model="vm.record[x.InternalName][y.Text]" value="{{y.Text}}" ng-disabled="{{x.ReadOnly}}">{{y.Text}}</label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="x.Type == 'button'">
                            <label class="col-sm-6 col-xs-6 text-right" for="inputPassword3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                            <div class="col-sm-6 col-xs-6">
                                <div class="">
                                    <img data-ng-src="{{x.base64}}" alt="logo">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="x.Type == 'date' ">
                            <label class="col-sm-6 col-xs-6 text-right" for="inputPassword3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                            <div class="col-sm-6 col-xs-6">
                                <input type="text" class="form-control border-1px input-padding" ng-model="vm.record[x.InternalName]" ng-focus="vm.getDate(x.InternalName, vm.record[x.InternalName].columns[$index].value,'selectdate' , x)">
                            </div>
                        </div>
                        <div class="form-group form-inline table-overflow" ng-if="x.Type == 'table'" ng-show="vm.checkDept(x.Restrict)">
                            <label class="col-sm-12 col-xs-12 text-left " for="inputEmail3">{{x.Name}}<span class="orange-txt" ng-if="x.Required == true">*</span></label>
                            <div style="overflow-x: scroll;" class="col-sm-12 col-xs-12" ng-init="vm.record[x.InternalName] = x.Table">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="color-thead" ng-repeat="col in vm.record[x.InternalName].columns track by $index" ng-hide="col.showColumn">
                                                <b><span tooltip='{{col.value1}}' tooltip-placement="bottom" class="nowrap width100pr"><input class="" type="text" ng-model="col.value1" disabled/>
										</span></b>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div class="form-group input-color">add row <a class="js-add-option fb-button" title="Add Option" ng-click="addRow(x)"><i class=" fa fa-plus-circle cursorpointer"></i></a>
                                        </div>
                                        <tr ng-repeat="r in vm.record[x.InternalName].rows track by $index">
                                            <td>
                                                <button type="button" class="close LETOPX" ng-click="vm.removeRow($index, r, vm.record[x.InternalName].rows)">×</button>
                                            </td>
                                            <td ng-repeat="cell in r.cells track by $index" ng-hide="x.Table.columns[$index].showColumn">
                                                <input type="text" class="width100pr" ng-model="cell.value" ng-disabled="{{vm.record[x.InternalName].columns[$index].readonly}}" ng-if="$index != x.Remark && !x.Table.columns[$index].colRef.dropdown && !x.Table.columns[$index].showTime && !x.Table.columns[$index].showDate" ng-change="vm.ColumanCondition(vm.record[x.InternalName].columns[$index].value, r.cells , x)" />
                                                <ion-toggle class="toggle-calm  remark-btn" ng-model="cell.value" toggle-class="toggle-positive" ng-checked="customText" ng-if="$index == x.Remark && !x.Table.columns[$index].colRef.dropdown"> </ion-toggle>
                                                <select ng-model="cell.value" class="form-control" ng-disabled="{{vm.record[x.InternalName].columns[$index].readonly}}" ng-if="x.Table.columns[$index].colRef.dropdown" ng-change="vm.dynamicColChange(x.Table.columns[$index].colRef, cell, x, vm.record, r.cells)">
                                                    <option ng-repeat="y in x.Table.columns[$index].colRef.PossibleValue track by $index" value="{{y}}">{{y}}</option>
                                                </select>
                                                <input type="text" class="form-control border-1px" ng-if="x.Table.columns[$index].showTime" ng-model="cell.value" ng-focus="vm.getTime(cell, vm.record[x.InternalName].columns[$index].value, r.cells , x)">
                                                <input type="text" class="form-control border-1px" ng-if="!x.Table.columns[$index].showTime && x.Table.columns[$index].showDate " ng-model="cell.value" ng-focus="vm.getDate(cell, vm.record[x.InternalName].columns[$index].value, r.cells , x)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group sortable-field col-md-12">
                    <div class="col-sm-6 col-xs-6"></div>
                    <div class="col-sm-6 col-xs-6" ng-if="vm.showOption">
                        <label>
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="approved" ng-checked="true">Approve
                        </label>
                        <label ng-if="(vm.userRole=='Operator' && vm.userDept=='Production') || vm.isFlamabityOrInspection">
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="draft">Draft
                        </label>
                        <label ng-if="vm.formLevelInnumber > 1">
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="reject">Reject
                        </label>
                        <label ng-if="vm.formLevelInnumber > 1">
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="return">Return
                        </label>
                        <label ng-if="vm.formLevelInnumber > 1">
                            <input class="margin-right5px" name="approved" type="radio" ng-model="vm.approved" value="transfer">Transfer
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12" ng-if="vm.approved == 'transfer'">
                        <div class="col-sm-6 col-xs-6 text-right">select Depatrtment</div>
                        <div class="col-sm-6 col-xs-6">
                            <select ng-model="vm.deptTransform" class="form-control">
                                <option ng-repeat="z in vm.returnDept" value="{{z}}">{{z}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 form-group" ng-if="vm.approved != '' && vm.approved != undefined">
                        <label class="col-sm-6 col-xs-6 text-right">Comment</label>
                        <div class="col-sm-6 col-xs-6">
                            <textarea class="margin-right5px width100pr brd comment_text" ng-model="vm.comment" value="return"></textarea><i class="icon icon ion-android-textsms comment_symb" ng-click="vm.getRecordTrack()"></i>
                        </div>
                    </div>
                </div>
                <!-- 

		<div class="form-group sortable-field col-md-12" ng-show="vm.showComment">
			<div class="col-sm-6 col-xs-6"></div>
			<div  class="col-sm-12 col-xs-12 form-group">
				<label class="col-sm-6 col-xs-6 text-right">Comment</label>
				<div class="col-sm-6 col-xs-6">
					<textarea class="margin-right5px width100pr brd comment_text"  ng-model="vm.comment"></textarea>
				</div>
			</div>
		</div>
 -->
                <div ng-show="vm.showError" style="color:red;text-align:center">Enter all mandatory fields(*)</div>
                <div class="col-sm-12 text-right" ng-if="vm.hideButtons">
                    <button class="getform-button button-imp button button-outline button-positive" ng-click="vm.saveFormsData(vm.record)">Save</button>
                    <button class="getform-button button-imp button button-outline button-positive" ng-click="vm.cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
