<ion-view hide-nav-bar="true" class="container-fluid">
  <div class="loginContainer" ng-form="loginForm">
    <img src ="img/amaraja.jpg" class="login-Img" />
    <div class="loginTab">
      <div>
        <label class="item-input item-floating-label loginBorder">
          <span class="input-label loginInput">UserName</span>
          <input class="login-inputColor" type="text" placeholder="UserName" name="username" ng-model="vm.user.userName" required />
        </label>
          <span class="color-red" ng-show="submit && loginForm.username.$error.required">Required</span>
          <span class="color-red" ng-show="submit && loginForm.username.$error.email">Invalid email</span>
      </div>
      <div>  
        <label class="item-input item-floating-label loginBorder">
          <span class="input-label loginInput">Password</span>
          <input type="password" placeholder="Password" name="password" ng-model="vm.user.password" required />
        </label>
          <span class="color-red" ng-show="submit && loginForm.password.$error.required">Required</span>
          <span class="color-red" ng-show="submit && loginForm.password.$error.minlength">Password atleast 8 character</span>
      </div>

      <button class="button login-cancel button-calm float-left" ng-click="vm.cancel(user)">Cancel</button>
      <button class="button loginButton button-calm float-right" ng-click="submit=true; vm.login()">Login</button>

      <label class="login-forgotLabel">
        <!-- <a href="">Forgot Password </a> -->
      </label> 
    </div>
  </div>
</ion-view>