<ion-side-menus>
    <ion-pane menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-pane>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header text-center user-logo-center">
            <img class="text-center" src="img/amaraja.jpg" style="width: 20%; " />
        </ion-header-bar>
        <ion-content has-header="true">
            <div>
                <div class="expandcollapse-para" ng-if='vm.userDept == "Engineering"'>
                    <div ng-click="active1 = !active1; active2 = false; active3 = false;" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
                        <div class="cursorpointer">
                            <p>Engineering</p>
                            <img src="img/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active1, 'TURNDOWNARROW': !active1}">
                        </div>
                    </div>
                    <div ng-class="{'showdiv': active1, 'hidediv': !active1}">
                        <div class="expand-collapse-content">
                            <ul ng-if='vm.userType == "Operator"'>
                                <li menu-close ng-repeat=" x in vm.record" ng-click="vm.getFormName(x.levelform)">
                                    {{ x.levelform }}
                                </li>
                            </ul>
                            <ul ng-if='vm.userType == "Approver"'>
                                <li menu-close ng-repeat=" x in vm.record" ng-click="vm.getTableRecords(x.levelform)">
                                    {{ x.levelform }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-para" ng-if='vm.userDept == "QA"'>
                    <div ng-click="active2 = !active2; active1 = false; active3 = false;" ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
                        <div class="cursorpointer">
                            <p>QA Process {{vm.userType}} {{vm.userDept}}</p>
                            <img src="img/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active2, 'TURNDOWNARROW': !active2}">
                        </div>
                    </div>
                    <div ng-class="{'showdiv': active2, 'hidediv': !active2}">
                        <div class="expand-collapse-content">
                            <ul>
                                <li menu-close ng-repeat=" x in vm.record" ng-click="vm.getTableRecords(x.levelform)">
                                    {{ x.levelform }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-para" ng-if='vm.userDept == "Production"'>
                    <div ng-click="active3 = !active3; active2 = false; active1 = false;" ng-class="{'expandcollapse-heading-collapsed': active3, 'expandcollapse-heading-expanded': !active3}">
                        <div class="cursorpointer">
                            <p>Production</p>
                            <img src="img/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active3, 'TURNDOWNARROW': !active3}">
                        </div>
                    </div>
                    <div ng-class="{'showdiv': active3, 'hidediv': !active3}">
                        <div class="expand-collapse-content">
                            <ul>
                                <li menu-close ng-repeat=" x in vm.record" ng-click="vm.getTableRecords(x.levelform)">
                                    {{ x.levelform }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <li class="cursorpointer" ng-click="vm.logout()"><a class="ion-log-out"><span class="padding">Logout</span></a></li>
                </div>
            </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
