<ion-view>
	<ion-content >
		
		<div class="col-sm-12" id="aaaa" >
			<div class="form-group ">
				<label for="sort" style="text-align: right;top: 5px;" class="col-sm-2 control-label"> Select Form:  </label>
				<div class="col-sm-4">
					<select class="form-control" name="sort" id="sort" ng-model="vm.selectedTable" ng-change="vm.getTableByName()">
						<option ng-repeat="x in vm.tableName track by $index"  value="{{x.rowid}}">{{x.tableName}}</option>
					</select>
				</div>
				<div class=" ">
					<div class="col-sm-6 col-xs-6">
					<button class="button button-small button-assertive " id="filter" ng-click="vm.filter = !vm.filter"> Filter</button>
					</div>
				</div>
			</div>




			<div class="col-sm-12"  ng-show="vm.filter">			
				<div class="form-group getformFont col-sm-12 col-xs-12">
				<div  ng-show="vm.filter" ng-repeat="x in vm.recordData track by $index" ng-if="x.Name == 'Process' || x.Name == 'Machine' || x.Settings[1].Value == 'partno' || x.Type == 'date'">
					<div class="col-sm-6 col-xs-6" ng-if="x.Type == 'date' && x.Name=='Date' && x.Settings[1].Value == 'datee'" style="margin-top:10px">
						<label class="col-sm-4 col-xs-4 text-right" for="inputPassword3" >From Date</label>
						<div class="col-sm-6 col-xs-6">
						
							<input type="text" class="form-control border-1px input-padding"  ng-model="vm.selectedValue['datee']['from']"  ng-focus="vm.getDate(x.Settings[1].Value, vm.selectedValue, 'from')" >
						</div>
					</div>
					<div class="col-sm-6 col-xs-6" ng-if="x.Type == 'date' && x.Name=='Date'  && x.Settings[1].Value == 'datee'" style="margin-top:10px">
						<label class="col-sm-4 col-xs-4 text-right" for="inputPassword3" >To Date</label>
						<div class="col-sm-6 col-xs-6">
							<input type="text" class="form-control border-1px input-padding"  ng-model="vm.selectedValue['datee']['to']"  ng-focus="vm.getDate(x.Settings[1].Value, vm.selectedValue, 'to')" >
						</div>
					</div>
					<div class="col-sm-6 col-xs-6" ng-if="x.Name == 'Process'"  style="margin-top:10px">
						<label class="col-sm-4 col-xs-4 text-right" for="inputPassword3" >{{x.Name}}</label>
						<div class="col-sm-6 col-xs-6">
							<input list="process" type="" class="form-control" ng-model="vm.selectedValue[x.Settings[1].Value]" ng-change="vm.getValueDynamicaly(vm.selectedTable, x.Settings[1].Value ,vm.selectedValue['process'])"/>
							<datalist id="process" ng-model="vm.selectedValue[x.Settings[1].Value]" >
								<option ng-repeat="y in x.Settings[2].PossibleValue track by $index">{{y.Text}}</option>
							</datalist>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6" ng-if="x.Name == 'Machine'"  style="margin-top:10px">
						<label class="col-sm-4 col-xs-4 text-right" for="inputPassword3" >{{x.Name}}</label>
						<div class="col-sm-6 col-xs-6" >
							<input list="machine" type="" class="form-control" ng-model="vm.selectedValue[x.Settings[1].Value]" />
							<datalist id="machine" ng-model="vm.selectedValue[x.Settings[1].Value]" >
								<opti n ng-repeat="y in x.Settings[2].PossibleValue track by $index">{{y.Text}}</option>
							</datalist>
						</div>
					</div>
					
					<div class="col-sm-6 col-xs-6" ng-if="x.Settings[1].Value == 'partno'" style="margin-top:10px">
						<label class="col-sm-4 col-xs-4 text-right" for="inputPassword3" >{{x.Name}}</label>
						<div class="col-sm-6 col-xs-6">
							<input list="partno" type="" class="form-control" ng-model="vm.selectedValue[x.Settings[1].Value]" />
							<datalist id="partno" ng-model="vm.selectedValue[x.Settings[1].Value]" >
								<option ng-repeat="y in x.Settings[2].PossibleValue track by $index">{{y.Text}}</option>
							</datalist>
						</div>
					</div>
				</div>
				</div>
				<div class="form-group getformFont col-sm-12 col-xs-12">
					<div class="col-sm-6 col-xs-6">
						<button class="button button-small btn-default  btn-block" ng-click="vm.setColCondition(vm.recordData, 'col')"> Select List</button>
					</div>
					<div class="col-sm-6 col-xs-6">
						<button  class="button button-small btn-default  btn-block" ng-click="vm.setColCondition(vm.recordData, 'table')"> Select Table columns </button>
					</div>
				</div>
				<div class="form-group getformFont col-sm-12 col-xs-12" >
					<div class="col-sm-6 col-xs-6"><button class="button button-small button-positive btn-block" ng-click="vm.getAllRecord()" ng-show="vm.filter"> Populate</button></div>
					<div class="col-sm-6 col-xs-6">	<button class="button button-small btn-info btn-block" ng-click="vm.getPdf()">PDF</button></div>
				<!-- 	<div class="btn btn-primary" ng-click="printHide = true" print-btn >print</div> -->
				</div>
			</div>
		<div class="col-sm-12"   style="margin-top: 30px;" >
			<div style="overflow-x: scroll;" class="col-sm-12 col-xs-12" ng-init="vm.record[x.InternalName] = x.Table">
				<table class="table table-condensed table-striped" >
					<thead>
						<tr>
							<th class="color-thead" ng-repeat="col in vm.columns track by $index" >
								<b><span class="nowrap width100pr">	{{col}} </span></b>
							</th>
					  </tr>
					</thead>
				<tbody>
					<tr ng-repeat="r in vm.rows track by $index" >
						<td ng-repeat="cell in r track by $index" >
							{{cell}}
						</td>
					</tr>
				</tbody>
				</table>				
			</div>
		</div>

		<div class="col-sm-12 scroll"  id="prinyy" style="overflow: visible !important;float: none !important; position: relative;page-break-after: always;"  print-section>
			<div style="overflow-x: scroll;" class="col-sm-12 col-xs-12" ng-init="vm.record[x.InternalName] = x.Table">
				
				<div class="color-thead pageBreak"  ng-repeat="record in vm.resultJson track by $index" >
					<div ng-repeat="(key, value) in record track by $index"   >
						<div  ng-if="vm.CheckforTable(key)" style="width: 50%;  float: left;">
							<div class="col-sm-6 col-xs-6" style=" height: 30px; font-weight: bold; font-size: 15px; width: 50%;  float: left;">{{key}}</div>
							<div class="col-sm-6 col-xs-6" style=" height: 30px;  width: 50%; font-size: 15px; float: left;">{{value}}</div>
						</div>
						<div    ng-if="!vm.CheckforTable(key)"  style="width: 100%; margin-top: 15px; " >
							
							<table class="table table-condensed table-striped " style="width: 100%;">
								<thead>
									<tr>
									{{value.columns}}
										<th class="color-thead" ng-repeat="col in value.column track by $index" >
											<b><span class="nowrap width100pr">	{{col}} </span></b>
										</th>
								  </tr>
								</thead>
							<tbody>
								<tr ng-repeat="r in value.rows track by $index" >
									<td ng-repeat="cell in r track by $index" style=" font-weight: bold; font-size: 15px;" >
										{{cell}}
									</td>
								</tr>
							</tbody>
							</table>	
						</div>
					</div>
				</div>
		  
			</div>
		</div>
		


		
	</ion-content>
</ion-view>