<ion-list>


	<div ng-repeat="x in vm.tableJson" ng-if="x.Type == 'table'">
	    <div style="text-align: center;"><h3>{{x.Name}}</h3></div>
  		<ion-checkbox ng-if="vm.type == 'table'" ng-repeat="y in x.Settings[3].PossibleValue[0].columns" ng-model="y.selected">{{y.value1}}</ion-checkbox>
    </div>

    <div >
	     <ion-checkbox ng-if="vm.type == 'col'" ng-repeat="y in vm.tableJson"  ng-model="y.selected" ng-if="x.Type != 'table'">{{y.Name}}</ion-checkbox>
    </div>
 
</ion-list>