<ion-view >
	<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
	<ion-content>
		<div class="col-sm-12">
			<div class="form-group">
				<label for="sort" class="col-sm-2 control-label text-right"> Select Table:  </label>
				<div class="col-sm-10">
					<select class="form-control" name="sort" id="sort" ng-model="vm.selectedTable" ng-change="vm.getFormRecords()">
						<option ng-repeat="x in vm.formList"  value="{{x.rowid}}">{{x.tableName}}</option>
					</select>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-4 list_scroll">
						<div class="card" ng-repeat="x in vm.formRecords track by $index" ng-click="vm.showRecordDetails(x)">
							<div class="item item-text-wrap text-center">{{x.recordName}}
							</div>
						</div>
					</div>
					<div class="col-sm-8 MARTOP20Px" ng-show="vm.showtable">
						<div>
							<table class="table table-condensed table-striped" >
								<thead>
									<tr>									
										<th class="color-thead"><b><span class="nowrap width100pr">Sl.No</span></b></th>
										<th class="color-thead"><b><span class="nowrap width100pr">Name</span></b></th>
										<th class="color-thead"><b><span class="nowrap width100pr">Role</span></b></th>
										<th class="color-thead"><b><span class="nowrap width100pr">Status</span></b></th>
										<th class="color-thead"><b><span class="nowrap width100pr">comment</span></b></th>
										<th class="color-thead"><b><span class="nowrap width100pr">Aproved Date</span></b></th>
								  </tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in vm.allDetails track by $index"  >
										<td >{{$index+1}}</td>
										<td >{{x.userName}}</td>
										<td >{{x.role}}</td>
										<td >{{x.status}}</td>
										<td >{{x.comment}}</td>
										<td >{{x.approvedDt}}</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- <div>
							<table class="table table-condensed table-striped" >
								<thead>
									<tr>									
										<th class="color-thead"><b><span class="nowrap width100pr">Sl.No</span></b></th>
										<th class="color-thead"><b><span class="nowrap width100pr">Name</span></b></th>
										<th class="color-thead"><b><span class="nowrap width100pr">Comment</span></b></th>
										<th class="color-thead"><b><span class="nowrap width100pr">Aproved Date</span></b></th>
								  </tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in vm.allDetails track by $index"  >
										<td >{{$index+1}}</td>
										<td >{{x.userName}}</td>
										<td >{{x.comment}}</td>
										<td >{{x.approvedDt}}</td>
									</tr>
								</tbody>
							</table>
						</div> -->
					</div>
				</div>
			</div> 
		</div>
	</ion-content>
</ion-view>