<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Left Menu</h1>
        </ion-header-bar>
        <ion-content has-header="true">
            <!-- <div class="list"  >
      	<ion-radio ng-model="selected.score" ng-value="{{sort.score}}"  ng-repeat="sort in sorting">{{sort.name}}</ion-radio>
      </div> -->
            <div>
                <div class="expandcollapse-para">
                    <div ng-click="active1 = !active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
                        <div>
                            <p>Engineering</p>
                            <img src="img/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active1, 'TURNDOWNARROW': !active1}">
                        </div>
                    </div>
                    <div ng-class="{'showdiv': active1, 'hidediv': !active1}">
                        <div class="expand-collapse-content">
                            <div>
                                <button>Text1</button>
                                <button>Text2</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-para">
                    <div ng-click="active2 = !active2" ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
                        <div>
                            <p>QA Process</p>
                            <img src="img/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active2, 'TURNDOWNARROW': !active2}">
                        </div>
                    </div>
                    <div ng-class="{'showdiv': active2, 'hidediv': !active2}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-para">
                    <div ng-click="active3 = !active3" ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
                        <div>
                            <p>Production</p>
                            <img src="img/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active3, 'TURNDOWNARROW': !active3}">
                        </div>
                    </div>
                    <div ng-class="{'showdiv': active3, 'hidediv': !active3}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
            </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
